@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game_board{
    width: 85%;
    height: 85%;
    /* box-shadow: 0 0 0.3rem 0.2rem #3338; */
    box-shadow: 0 0 0.3rem 0.2rem #2798;
    padding: 2rem;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}

#main_title{
    font-size: 4.4rem;
    background: linear-gradient(to left,rgb(0, 0, 165),rgb(32, 189, 241));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    width: 100%;
    text-align: center;
}

#selection,
#screen{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 55%;
    height: 50%;
}

#selection,
#screen,
#selectionTheNumberOfGame,
#select_repeat_number_of_the_game{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.3s;
}

#selection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1.8rem;
    align-items: center;
}

#selection > i{
    border: 0.2rem solid rgb(0, 89, 255);
    color: rgb(0, 89, 255);
    font-size: 6rem;
    padding: 1.4rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11rem;
    cursor: pointer;
    transition: 0.2s;
}

#selection > i:hover,
#selection2 > i:hover{
    background-color: rgb(0, 89, 255);
    color: white;
    box-shadow: 0 0 0.8rem 0.2rem rgb(153, 153, 153);
}

#screen{
    display: flex;
    align-items: center;
    justify-content: center;
}

#screen > div{
    position: relative;
}

#screen > div > i{
    font-size: 8rem;
    padding: 2rem;
    width: 15rem;
    height: 15rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#screen > .vs{
    color: rgb(0, 89, 255);
    font-size: 3.4rem;
    font-weight: 500;
    margin: 0 2rem;
    position: relative;
}

.names{
    position: absolute;
    font-size: 2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -6rem;
    width: 12rem;
    height: 5rem;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1rem;
    box-shadow: 0 0.3rem 0.4rem 0.2rem rgb(161, 161, 161);
}

.n1,#user_score{
    background-color: #223;
}

.n2,#computer_score{
    background-color: rgb(51, 75, 104);
}

#result_of_user{
    color: #223;
    border: 0.2rem solid #223;
}

#result_of_computer{
    color: rgb(51, 75, 104);
    border: 0.2rem solid rgb(51, 75, 104);
}

.score{
    position: absolute;
    bottom: -6rem;
    left: 50%;
    transform: translateX(-50%);
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    font-size: 2.5rem;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.active_screen{
    visibility: visible !important;
    opacity: 1 !important;
    pointer-events: all !important;
}

#try_play{
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    border: 0.2rem solid #279;
    color: #279;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    pointer-events: none;
    opacity: 0;
}

#try_play:hover{
    background-color: #279;
    color: white;
}

.try_play_active{
    pointer-events: all !important;
    opacity: 1 !important;
}

#try_play > i{
    font-size: 2.4rem;
}

#selection2{
    position: absolute;
    width: 55%;
    left: 50%;
    bottom: 2rem;
    height: 8rem;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.3s;
    display: grid;
    grid-template-columns: repeat(3,8rem);
    column-gap: 5rem;
    justify-content: center;
    align-items: center;
}

#selection2 > i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    border: 0.1rem solid rgb(0, 89, 255);
    color: rgb(0, 89, 255);
    border-radius: 1rem;
    transition: 0.2s;
    padding: 1rem;
    cursor: pointer;
    height: 100%;
}

.selection2_pause{
    opacity: 50% !important;
    cursor: none !important;
    pointer-events: none !important;
}

#numberOfGame{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none !important;
    font-size: 2rem;
    bottom: -6rem;
    background-color: rgb(54, 54, 190);
    color: white;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

#selectionTheNumberOfGame{
    position: absolute;
    /* background:linear-gradient(45deg,rgb(0, 89, 255),rgb(16, 11, 58)); */
    width: 100%;
    left: 0;
    bottom: 0;
    height: 80%;
    display: grid;
    grid-template-rows: 20% 80%;
    padding: 2rem 0;
}

#selectionTheNumberOfGame > header{
    font-size: 2.8rem;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

#number_btns{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    background-color: white;
    padding: 0 2rem;    
}

.number_btn{
    font-size: 1.8rem;
    font-weight: 500;
    background:linear-gradient(45deg,rgb(0, 89, 255),rgb(16, 11, 58));
    color: white;
    border: 0;
    border-radius: 1rem;
    outline: 0;
    transition: 0.2s;
    box-shadow: 0 0 0.3rem 0.1rem transparent;
    cursor: pointer;
}

.number_btn:hover{
    box-shadow: 0 0 0.3rem 0.1rem black;
    color: white;
    transform: scale(1.025,1.025);
}

#select_repeat_number_of_the_game{
    text-align: center;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 2rem;
    width: 14rem;
    height: 14rem;
    left: 2rem;
    top: 50%;
    transform: translateY(-50%);
    border: 0.2rem solid rgb(19, 19, 53);
    color: rgb(19, 19, 53);
    cursor: pointer;
    border-radius: 50%;
}

#select_repeat_number_of_the_game:hover{
    background-color: rgb(19, 19, 53);
    color: white;
}

@media(max-width : 768px){

    #game_board{
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    #main_title{
        font-size: 3.5rem;
    }
    #selectionTheNumberOfGame{
        height: 90%;
    }
    #selectionTheNumberOfGame > header{
        font-size: 2.4rem;
    }
    #number_btns{
        grid-template-columns: repeat(3,1fr);
    }

    #selection,
    #screen{
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 50%;
        justify-content: center;
        padding: 0 4rem;
    }

    #select_repeat_number_of_the_game{
        width: 10rem;
        height: 10rem;
        left: 1rem;
        font-size: 1.4rem;
        font-weight: 800;
    }
}

@media(max-width : 660px){
    #select_repeat_number_of_the_game{
        border-radius: 0;
        height: 4rem;
        width: 20rem;
        top: 10rem;
        left: 0;
        font-weight: 500;
        padding-left: 0.3rem;
    }
    #try_play{
        height: 4rem;
        width: 20rem;
        left: 0;
        padding-left: 0.3rem;
        font-weight: 500;
        top: 13rem;
        border-radius: 0;
        font-size: 1.4rem;
        flex-direction: row;
    }
    #try_play > i{
        font-size: 1.5rem;
        margin-right: 0.3rem;
    }
}

@media(max-width : 522px){

    #main_title{
        font-size: 3rem;
    }
    #selectionTheNumberOfGame{
        height: 92%;
    }
    #selectionTheNumberOfGame > header{
        font-size: 2rem;
        font-weight: 600;
    }
    #number_btns{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width : 448px){
    #main_title{
        font-size: 2.5rem;
    }
    #selectionTheNumberOfGame{
        height: 95%;
    }
    #selectionTheNumberOfGame > header{
        font-size: 1.8rem;
    }
    #number_btns{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width : 375px){
    #main_title{
        font-size: 2.2rem;
    }
    #selectionTheNumberOfGame > header{
        font-size: 1.6rem;
    }
}