@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}
body{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
}

html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background-color: lightgrey;
}
html::-webkit-scrollbar-thumb{
    background:linear-gradient(to top,var(--main),var(--secondary));
}

:root{
    --main : rgb(0, 60, 255);
    --secondary : rgb(0, 110, 255);
}

#nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    background-color: rgb(240, 240, 240);
    color: #222;
    box-shadow: 0 0.2rem 0.3rem 0.2rem rgba(36, 36, 36, 0.473);

    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    z-index: 1;

    padding: 0.5rem 1rem;
}

#logo{
    font-size: 1.8rem;
    color: rgb(0, 60, 255);
    font-weight: 500;
}

#menu{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.4rem;
}

.nav_title{
    margin-right: 1rem;
    background-color: whitesmoke;
    box-shadow: 0 0 0.1rem 0.1rem rgba(194, 194, 194, 0.288);
    min-width: 8rem;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    transition: 0.3s;
    cursor: pointer;
}

.nav_title:hover{
    background-color: white;
    color: var(--main);
}

#Shopping-Cart-Btn{
    background-color: var(--secondary);
    color: white;
    width: 12rem;
    position: relative;
    overflow: hidden;
}

#Shopping-Cart-Btn:hover{
    background-color: var(--main);
}

#numbers_of_products{
    margin: 0 0.4rem 0 0.6rem;
}

.animation_area{
    position: absolute;
    width: 12rem;
    height: 100%;
    transition: 0.5s;
    pointer-events: none;
    display: block;
    opacity: 80%;
}

#minus_animation_area{
    left: 12rem;
    background:linear-gradient(to right,red,darkred) ;
}

#add_animation_area{
    left: -12rem;
    background: linear-gradient(to left ,  rgb(13, 247, 33),  rgb(32, 189, 45));
}

#home{
    padding: 2rem;
    margin-top: 6rem;
}

#promo{
    background:linear-gradient(to bottom,rgb(58, 46, 138),rgb(173, 212, 235));
    color: white;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

#pr_title{
    font-size: 2.4rem;
    border-bottom: 0.2rem solid var(--secondary);
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 0.3rem 1.4rem;
    margin-bottom: 4rem;
}

#products{
    display: grid;
    grid-template-columns: repeat(4,20rem);
    gap: 4rem 3rem;
    justify-content: center;
}

.product{
    height: 25rem;
    display: grid;
    grid-template-rows: 16% 64% 20%;
    border-radius: 0.4rem;
    transition: 0.3s;
    box-shadow: 0 0 0.4rem 0.1rem rgba(0, 0, 0, 0.2);
    background-color: rgb(240, 240, 240);
}

.product:hover{
    box-shadow: 0 0 0.4rem 0.1rem rgba(12, 41, 58, 0.4);
}

.p_title{
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding: 0.2rem 0.8rem;
    transition: 0.3s;
}

.product:hover > .p_title{
    color: var(--secondary);
}

.p_img_div{
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.p_img_div > img{
    width: 80%;
    height: 70%;
}

.p_infos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.cost_div,
.add_the_shopping_cart{
    min-width: 6rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 0.3rem;
}

.cost_div{
    background-color: white;
    box-shadow: 0 0 0.2rem 0.1rem var(--main);
    color: var(--main);
    max-width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cost{
    margin-right: 0.3rem;
}

.add_the_shopping_cart{
    width: 6rem;
    border: 0;
    outline: 0;
    background-color: var(--secondary);
    color: white;
    box-shadow: 0 0 0.2rem 0.1rem rgb(207, 207, 207);
    cursor: pointer;
    transition: 0.3s;
    font-weight: 500;
}

.add_the_shopping_cart:hover{
    background-color: var(--main);
    transition: 0.2s;
}

.added_add_the_shopping_cart{
    background-color: orangered;
    width: 7rem;
}

.added_add_the_shopping_cart:hover{
    background-color: rgb(255, 51, 0);
}

#shopping_cart_menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(230, 230, 230);
    padding: 2rem;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.3s;
    z-index: 2;
}

.scm_active{
    opacity: 1 !important;
    visibility: visible !important;
    pointer-events: all !important;
}

#shopping_cart_menu > header{
    color: var(--main);
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

#scm_products{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 1rem;
    padding-right: 1rem;
    overflow-y: hidden;
    height: auto;
}

#scm_products::-webkit-scrollbar{
    width: 0.6rem;
}
#scm_products::-webkit-scrollbar-track{
    background-color: lightgrey;
    border-radius: 2rem;
}
#scm_products::-webkit-scrollbar-thumb{
    background-color: var(--secondary);
    border-radius: 2rem;
}

.scm_product{
    background-color: white;
    height: 10rem;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.scmp_left{
    height: 100%;
    width: 85%;
    padding: 1rem 0 1rem 1rem;
    display: grid;
    grid-template-columns: 10rem auto;
    gap: 1.8rem;
}

.scmp_img_div{
    overflow: hidden;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 0 0 0.2rem 0.1rem lightgrey;
}

.scmp_img_div > img{
    width: 100%;
    height: 100%;
}

.scmp_infos{
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    font-weight: 500;
    color:#222;
    position: relative;
}

.scmp_cost{
    color: var(--main);
    margin-right: 0.3rem;
}

.remove_scmp_btn{
    position: absolute;
    bottom: 0.1rem;
    min-width: 8rem;
    width: 10rem;
    height: 2rem;
    border: 0;
    outline: 0;
    font-weight: 600;
    color: orangered;
    background-color: white;
    box-shadow: 0 0 0.2rem 0.1rem rgb(170, 170, 170);

    border-radius: 0.3rem;
    cursor: pointer;
    transition: 0.2s;
}

.remove_scmp_btn:hover{
    background-color: orangered;
    color: white;
}

.scmp_right{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 30%;
}

.control_of_scmp_numbers{
    height: 100%;
    width: 100%;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control_of_scmp_numbers > i,
.control_of_scmp_numbers > span{
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control_of_scmp_numbers > i{
    background-color: var(--secondary);
    width: 3rem;
    border-radius: 2rem;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

.control_of_scmp_numbers > i:first-child{
    background-color: orange;
}

.control_of_scmp_numbers > i:first-child:hover{
    background-color: orangered;
}

.control_of_scmp_numbers > i:last-child:hover{
    background-color: var(--main);
}

.numbersOfThisProduct{
    width: 4rem;
    font-size: 2rem;
    background-color: whitesmoke;
    border-radius: 1rem;
    margin: 0 0.5rem;
    cursor: default;
}

#closeTheShoppingCartBtn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    background-color: #222;
    color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;
}

#closeTheShoppingCartBtn:hover{
    background-color: #333;
}

.inno{
    display: none;
}

#total{
    position: absolute;
    width: calc(100vw - 4rem);
    background-color: #333;
    height: 4rem;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    font-size: 1.7rem;
    color: rgb(216, 216, 216);
    border-radius: 2rem;
    visibility: visible;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

#totalCost{
    margin: 0 0.6rem 0 1rem;
    color: white;
}

.scm_index{
    display: none;
}

@media(max-width : 950px){
    #products{
        grid-template-columns: repeat(3,20rem);
    }
}

@media(max-width : 700px){
    #products{
        grid-template-columns: repeat(3,16rem);
    }
    .product{
        height: 20rem;
    }
    .p_title{
        font-size: 1.1rem;
    }
    .cost_div,
    .add_the_shopping_cart{
        font-size: 1rem;
        height: 2.2rem;
    }
}

@media(max-width : 585px){
    #products{
        grid-template-columns: repeat(3,12rem);
    }
    .product{
        height: 15rem;
    }
    .p_title{
        font-size: 0.8rem;
    }
    .cost_div,
    .add_the_shopping_cart{
        min-width: 4rem;
        font-size: 0.7rem;
        height: 1.6rem;
    }
    .add_the_shopping_cart{
        width: 3rem;
    }
    .added_add_the_shopping_cart{
        width: 4.5rem;
    }
    .nav_title{
        display: none;
    }
    #Shopping-Cart-Btn{
        display: flex !important;
        width: 10rem;
        height: 3rem;
        font-size: 1.2rem;
    }
    .animation_area{
        width: 10rem;
    }
    #logo{
        font-size: 1.5rem;
    }
    .scm_product{
        height: 8rem;
    }
    .scmp_left{
        grid-template-columns: 8rem auto;
    }
    .scmp_infos{
        font-size: 1.4rem;
    }
    .remove_scmp_btn{
        min-width: 6rem;
        height: 1.8rem;
        width: 8rem;
    }
}

@media(max-width : 525px){
    .scm_product{
        height: 8rem;
    }
    .scmp_left{
        grid-template-columns: 8rem auto;
    }
    .scmp_infos{
        font-size: 1.2rem;
    }
    .remove_scmp_btn{
        min-width: 6rem;
        height: 1.8rem;
        width: 6rem;
        font-size: 1rem;
    }
    .control_of_scmp_numbers > i,
    .control_of_scmp_numbers > span{
        height: 50%;
    }
    .control_of_scmp_numbers > i{
        width: 2.5rem;
    }
    .numbersOfThisProduct{
        width: 3.5rem;
        font-size: 1.6rem;
    }
}

@media(max-width : 465px){
    #products{
        grid-template-columns: repeat(2,12rem);
    }
    .nav_title{
        display: none;
    }
    #Shopping-Cart-Btn{
        display: flex !important;
    }
    #promo{
        height: 8rem;
        font-size: 1.8rem;
    }
    #pr_title{
        font-size: 1.8rem;
    }

    .scm_product{
        height: 7rem;
    }
    .scmp_left{
        grid-template-columns: 7rem auto;
    }
    .scmp_infos{
        font-size: 1rem;
    }
    .scmp_name{
        overflow: hidden;
        max-height: 1.5rem;
    }
    .remove_scmp_btn{
        min-width: 5rem;
        height: 1.5rem;
        width: 5rem;
        font-size: 0.8rem;
        font-weight: 600;
    }
    .control_of_scmp_numbers > i,
    .control_of_scmp_numbers > span{
        height: 45%;
    }
    .control_of_scmp_numbers > i{
        width: 2rem;
    }
    .numbersOfThisProduct{
        width: 3rem;
        font-size: 1.2rem;
    }
    #shopping_cart_menu > header{
        font-size: 2.8rem;
    }
    #closeTheShoppingCartBtn{
        right: 2rem;
        top: 3rem;
        width: 2.4rem;
        height: 2.4rem;
        font-size: 1.5rem;
    }
    #total{
        font-size: 1.4rem;
        height: 3.5rem;
        justify-content: center;
        bottom: 4rem;
    }
}